@model IEnumerable<SistemaContabilidadAltosDelAbejonal.Models.Producto>

@{
    ViewBag.Title = "Stock";
    var totalStock = Model.Sum(p => p.Stock);
}

@{
    var rolUsuario = Session["RolUsuario"] as string;
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Inventario</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Inventario</a></li>
                            <li class="breadcrumb-item active">Stock</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Sección de Productos</h4>
                    </div>
                    <div class="card-body">
                        <div class="border-bottom text-center pb-3">
                            <div class="d-flex align-items-center justify-content-center">
                                <span class="text-primary fs-24 me-2">
                                    <i class="fas fa-arrow-circle-right"></i>
                                </span>
                                <h4 class="display-5 mb-0">@totalStock</h4>
                            </div>
                            <p class="text-muted mb-0">Productos en Stock</p>
                        </div>

                        <!-- Search bar and button -->
                        <form method="get" action="@Url.Action("BuscarProductos", "Productos")">
                            <div class="row mb-3">
                                <div class="col-md-9">
                                    <input type="search" name="searchQuery" class="form-control form-control-sm" placeholder="Buscar por Nombre, Tipo de Grano, Presentación, Categoría..." aria-controls="datatable" />
                                </div>
                                <div class="col-md-3">
                                    <button type="submit" class="btn btn-primary">Search</button>
                                </div>
                            </div>
                        </form>

                        <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                            <table id="datatable" class="table table-hover table-bordered table-striped dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Tipo de Grano</th>
                                        <th>Tipo de Presentación</th>
                                        <th>Categoría</th>
                                        <th>Stock</th>
                                        <th>Precio</th>
                                        <th>Fecha de Actualización</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var producto in Model)
                                    {
                                        <tr>
                                            <td>@producto.Nombre</td>
                                            <td>@producto.TipoGrano.NombreGrano</td>
                                            <td>@producto.TipoPresentacion.NombrePresentacion</td>
                                            <td>@producto.CategoriaProducto.NombreCategoria</td>
                                            <td>@producto.Stock</td>
                                            <td>@producto.Precio</td>
                                            <td>@producto.FechaActualizacion.ToString("dd/MM/yyyy")</td>
                                            <td>
                                                @if (rolUsuario == "Administrador")
                                                {
                                                    <button class="btn btn-info">
                                                        @Html.ActionLink("Editar Producto", "EditarProducto", new { id = producto.IDProducto }, new { @style = "color: white; text-decoration: none;" })
                                                    </button>
                                                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal1-@producto.IDProducto">Eliminar</button>
                                                }
                                            </td>
                                        </tr>
                                        <!-- Modal Para Eliminar-->
                                        <div class="modal fade" id="modal1-@producto.IDProducto" tabindex="-1" role="dialog" aria-labelledby="modal1Label-@producto.IDProducto" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="modal1Label-@producto.IDProducto">Confirmar Eliminación del Producto</h5>
                                                        <button type="button" class="btn btn-sm btn-label-danger btn-icon" data-bs-dismiss="modal" aria-label="Close">
                                                            <i class="mdi mdi-close"></i>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <h6>Detalles del Producto</h6>
                                                        <hr>
                                                        <p><strong>Nombre:</strong> @Html.DisplayFor(modelItem => producto.Nombre)</p>
                                                        <p><strong>Tipo de Grano:</strong> @Html.DisplayFor(modelItem => producto.TipoGrano.NombreGrano)</p>
                                                        <p><strong>Tipo de Presentación:</strong> @Html.DisplayFor(modelItem => producto.TipoPresentacion.NombrePresentacion)</p>
                                                        <p><strong>Categoría:</strong> @Html.DisplayFor(modelItem => producto.CategoriaProducto.NombreCategoria)</p>
                                                        <p><strong>Stock:</strong> @Html.DisplayFor(modelItem => producto.Stock)</p>
                                                        <p><strong>Precio:</strong> @Html.DisplayFor(modelItem => producto.Precio)</p>
                                                    </div>
                                                    @using (Html.BeginForm("EliminarProducto", "Productos", new { id = producto.IDProducto }, FormMethod.Post))
                                                    {
                                                        @Html.AntiForgeryToken()
                                                        <div class="modal-footer">
                                                            <button type="submit" class="btn btn-danger">Eliminar</button>
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Regresar</button>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- container-fluid -->
    <div style="text-align: center;">
        @if (rolUsuario == "Administrador")
        {
            <button class="btn btn-primary" onclick="location.href = '/Productos/AgregarProducto'">Agregar Producto</button>
        }
    </div>
</div>
<!-- End Page-content -->
