<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Altos del Abejonal</title>
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/AltosAbejonal.jpeg">
    @Styles.Render("~/Content/css")
</head>
<body>
    <!-- Begin page -->
    <div id="layout-wrapper">


        <!-- Start topbar -->
        <header id="page-topbar">
            <div class="navbar-header">

                <!-- Logo -->
                <!-- Start Navbar-Brand -->
                <div class="navbar-logo-box">
                    <a href="index.html" class="logo-Abejonal">
                        <span class="logo-sm">
                            <img src="~/assets/images/AltosAbejonal.jpeg" alt="logo-Abejonal" height="50">
                        </span>
                    </a>
                    <button type="button" class="btn btn-sm top-icon sidebar-btn" id="sidebar-btn">
                        <i class="mdi mdi-menu-open align-middle fs-19"></i>
                    </button>
                </div>
                <!-- End navbar brand -->
                <!-- Start menu -->
                <div class="d-flex justify-content-between menu-sm px-3 ms-auto">
                    <div class="d-flex align-items-center gap-2">
                        <div class="dropdown d-none d-lg-block">
                            <button type="button" class="btn btn-primary btn-sm fs-14 d-inline" data-bs-toggle="dropdown">
                                Reportes
                                <i class="mdi mdi-chevron-down align-middle"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-start dropdown-menu-animated">
                                <div class="dropdown-submenu">
                                    <a href="#" class="dropdown-item">
                                        <div class="dropdown-icon"><i class="fa fa-project-diagram"></i></div>
                                        <span class="dropdown-content">Generar reportes</span>
                                        <div class="dropdown-addon"><i class="mdi mdi-chevron-right align-middle"></i></div>
                                    </a>
                                    <div class="dropdown-submenu-menu dropdown-submenu-end">
                                        <a href="/CompraDetalles/ReporteComprasProveedores" class="dropdown-item"><i class="dropdown-bullet"></i> <span class="dropdown-content">Compras Proveedores</span> </a>
                                        <a href="/CompraDetalles/ReporteCompras" class="dropdown-item"><i class="dropdown-bullet"></i> <span class="dropdown-content">Reporte de Compras</span> </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center gap-2">
                        <!--Start App Search-->
                        <form class="app-search d-none d-lg-block">
                            <div class="position-relative">
                                <input type="text" class="form-control" placeholder="Buscar">
                                <span class="fab fa-sistrix fs-17 align-middle"></span>
                            </div>
                        </form>
                        <!--End App Search-->
                        <!-- Start Notification -->
                        <div class="dropdown d-inline-block">
                            <button type="button" class="btn btn-sm top-icon" id="page-header-notifications-dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-bell align-middle"></i>
                                <span class="btn-marker"><i class="marker marker-dot text-danger"></i></span>
                            </button>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-md dropdown-menu-end p-0" aria-labelledby="page-header-notifications-dropdown">
                                <div class="p-3 bg-info">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h6 class="text-white m-0"><i class="far fa-bell me-2"></i> Notificaciones </h6>
                                        </div>
                                        <div class="col-auto">
                                            <a href="#!" class="badge bg-info-subtle text-info"> 8+</a>
                                        </div>
                                    </div>
                                </div>
                                <div data-simplebar style="max-height: 230px;">
                                    <a href="" class="text-reset notification-item">
                                        <div class="d-flex">
                                            <div class="avatar avatar-xs avatar-label-primary me-3">
                                                <span class="rounded fs-16">
                                                    <i class="mdi mdi-file-document-outline"></i>
                                                </span>
                                            </div>
                                            <div class="flex-1">
                                                <h6 class="mb-1">Nuevo reporte añadido</h6>
                                                <div class="fs-12 text-muted">
                                                    <p class="mb-0"><i class="mdi mdi-clock-outline"></i> Hace 3 minutos</p>
                                                </div>
                                            </div>
                                            <i class="mdi mdi-chevron-right align-middle ms-2"></i>
                                        </div>
                                    </a>
                                    <a href="" class="text-reset notification-item">
                                        <div class="d-flex">
                                            <div class="avatar avatar-xs avatar-label-success me-3">
                                                <span class="rounded fs-16">
                                                    <i class="mdi mdi-cart-variant"></i>
                                                </span>
                                            </div>
                                            <div class="flex-1">
                                                <h6 class="mb-1">Orden Enviada</h6>
                                                <div class="fs-12 text-muted">
                                                    <p class="mb-0"><i class="mdi mdi-clock-outline"></i> Hace una hora</p>
                                                </div>
                                            </div>
                                            <i class="mdi mdi-chevron-right align-middle ms-2"></i>
                                        </div>
                                    </a>
                                    <a href="" class="text-reset notification-item">
                                        <div class="d-flex">
                                            <div class="avatar avatar-xs avatar-label-danger me-3">
                                                <span class="rounded fs-16">
                                                    <i class="mdi mdi-account-group"></i>
                                                </span>
                                            </div>
                                            <div class="flex-1">
                                                <h6 class="mb-1">Reunión de Equipo</h6>
                                                <div class="fs-12 text-muted">
                                                    <p class="mb-0"><i class="mdi mdi-clock-outline"></i> Hace 5 horas</p>
                                                </div>
                                            </div>
                                            <i class="mdi mdi-chevron-right align-middle ms-2"></i>
                                        </div>
                                    </a>
                                    <a href="" class="text-reset notification-item">
                                        <div class="d-flex">
                                            <div class="avatar avatar-xs avatar-label-warning me-3">
                                                <span class="rounded fs-16">
                                                    <i class="mdi mdi-send-outline"></i>
                                                </span>
                                            </div>
                                            <div class="flex-1">
                                                <h6 class="mb-1">Cambios en los reportes</h6>
                                                <div class="fs-12 text-muted">
                                                    <p class="mb-0"><i class="mdi mdi-clock-outline"></i> Hace 6 horas</p>
                                                </div>
                                            </div>
                                            <i class="mdi mdi-chevron-right align-middle ms-2"></i>
                                        </div>
                                    </a>
                                    <a href="" class="text-reset notification-item">
                                        <div class="d-flex">
                                            <div class="avatar avatar-xs avatar-label-secondary me-3">
                                                <span class="rounded fs-16">
                                                    <i class="mdi mdi-download-box"></i>
                                                </span>
                                            </div>
                                            <div class="flex-1">
                                                <h6 class="mb-1">Actualización del sistema</h6>
                                                <div class="fs-12 text-muted">
                                                    <p class="mb-0"><i class="mdi mdi-clock-outline"></i> Hace un día</p>
                                                </div>
                                            </div>
                                            <i class="mdi mdi-chevron-right align-middle ms-2"></i>
                                        </div>
                                    </a>
                                    <a href="" class="text-reset notification-item">
                                        <div class="d-flex">
                                            <div class="avatar avatar-xs avatar-label-info me-3">
                                                <span class="rounded fs-16">
                                                    <i class="mdi mdi-hexagram-outline"></i>
                                                </span>
                                            </div>
                                            <div class="flex-1">
                                                <h6 class="mb-1">Cambio de contraseña</h6>
                                                <div class="fs-12 text-muted">
                                                    <p class="mb-0"><i class="mdi mdi-clock-outline"></i> Hace 2 días</p>
                                                </div>
                                            </div>
                                            <i class="mdi mdi-chevron-right align-middle ms-2"></i>
                                        </div>
                                    </a>
                                </div>
                                <div class="p-2 border-top">
                                    <div class="d-grid">
                                        <a class="btn btn-sm btn-link font-size-14 text-center" href="javascript:void(0)">
                                            <i class="mdi mdi-arrow-right-circle me-1"></i> Ver más..
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Notification -->
                        <!-- Start Activities -->
                        <div class="d-inline-block activities">
                            <button type="button" class="btn btn-sm top-icon" data-bs-toggle="offcanvas"
                                    data-bs-target="#offcanvas-rightsidabar">
                                <i class="fas fa-table align-middle"></i>
                            </button>
                        </div>
                        <!-- End Activities -->
                        <!-- Start Profile -->
                        <div class="dropdown d-inline-block">
                            <button type="button" class="btn btn-sm top-icon p-0" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="rounded avatar-2xs p-0" src="~/assets/images/users/avatar-6.png" alt="Header Avatar">
                            </button>
                            <div class="dropdown-menu dropdown-menu-wide dropdown-menu-end dropdown-menu-animated overflow-hidden py-0">
                                <div class="card border-0">
                                    <div class="card-header bg-primary rounded-0">
                                        <div class="rich-list-item w-100 p-0">
                                            <div class="rich-list-prepend">
                                                <div class="avatar avatar-label-light avatar-circle">
                                                    <div class="avatar-display"><i class="fa fa-user-alt"></i></div>
                                                </div>
                                            </div>
                                            <div class="rich-list-content">
                                                <h3 class="rich-list-title text-white">Nombre del usuario</h3>
                                                <span class="rich-list-subtitle text-white">correodelusuario@gmail.com</span>
                                            </div>
                                            <div class="rich-list-append"><span class="badge badge-label-light fs-6">6+</span></div>
                                        </div>
                                    </div>
                                    <div class="card-body p-0">
                                        <div class="grid-nav grid-nav-flush grid-nav-action grid-nav-no-rounded">
                                            <div class="grid-nav-row">
                                                <a href="EditarDatos.html" class="grid-nav-item">
                                                    <div class="grid-nav-icon"><i class="far fa-address-card"></i></div>
                                                    <span class="grid-nav-content">Editar Datos Personales</span>
                                                </a>
                                                <a href="#!" class="grid-nav-item">
                                                    <div class="grid-nav-icon"><i class="far fa-clone"></i></div>
                                                    <span class="grid-nav-content">Actividades</span>
                                                </a>
                                            </div>
                                            <div class="grid-nav-row">
                                                <a href="#!" class="grid-nav-item">
                                                    <div class="grid-nav-icon"><i class="far fa-calendar-check"></i></div>
                                                    <span class="grid-nav-content">Tareas</span>
                                                </a>
                                                <a href="#!" class="grid-nav-item">
                                                    <div class="grid-nav-icon"><i class="far fa-sticky-note"></i></div>
                                                    <span class="grid-nav-content">Notas</span>
                                                </a>
                                                <a href="#!" class="grid-nav-item">
                                                    <div class="grid-nav-icon"><i class="far fa-bell"></i></div>
                                                    <span class="grid-nav-content">Notificationes</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer card-footer-bordered rounded-0"><a href="auth-login.html" class="btn btn-label-danger">Cerrar Sesión</a></div>
                                </div>
                            </div>
                        </div>
                        <!-- End Profile -->
                    </div>
                </div>
                <!-- End menu -->
            </div>
        </header>
        <!-- End topbar -->
    </div>
    <!-- ========== Left Sidebar Start ========== -->
    <div class="sidebar-left">

        <div data-simplebar class="h-100">

            <!--- Sidebar-menu -->
            <div id="sidebar-menu">
                <!-- Left Menu Start -->
                <ul class="left-menu list-unstyled" id="side-menu">
                    <li>
                        <a href="/Home/Index" class="">
                            <i class="fas fa-desktop"></i>
                            <span>Inicio</span>
                        </a>
                    </li>

                    <!--Inventario-->
                    <li>
                        <a href="javascript: void(0);" class="has-arrow ">
                            <i class="fas fa-store"></i>
                            <span>Inventario</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="/Productos/Stock"><i class="mdi mdi-checkbox-blank-circle align-middle"></i>Stock</a></li>

                        </ul>
                    </li>

                    <!--Informes Financieros-->
                    <li class="menu-title">Informes Financieros</li>
                    <li>
                        <a href="javascript: void(0);" class="has-arrow ">
                            <i class="fas fa-newspaper"></i>
                            <span>Facturas</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="/GestionFacturas/Facturas"><i class="mdi mdi-checkbox-blank-circle align-middle"></i>Gestion de Facturas</a></li>

                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);" class="has-arrow ">
                            <i class="fas fa-file-contract"></i>
                            <span>Resumen Financiero</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="ResumenFinanciero.html"><i class="mdi mdi-checkbox-blank-circle align-middle"></i>Ingresos Y Gastos</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);" class="has-arrow ">
                            <i class="fas fa-file-contract"></i>
                            <span>Estado Financiero</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="EstadoFinanciero.html"><i class="mdi mdi-checkbox-blank-circle align-middle"></i>Tipos de Estados</a></li>
                        </ul>
                    </li>

                  

                    <li>
                        <a href="javascript: void(0);" class="has-arrow ">
                            <i class="fas fa-dollar-sign"></i>
                            <span>Costos</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="Costos.html"><i class="mdi mdi-checkbox-blank-circle align-middle"></i>Gestion de Costos</a></li>
                            <li><a href="ui-ReportesCostos.html"><i class="mdi mdi-checkbox-blank-circle align-middle"></i>Informe de Costos</a></li>
                        </ul>
                    </li>

                    <!--Cotizaciones-->

                    <li class="menu-title">Cotizaciones y Ventas</li>
                    <li>
                        <a href="javascript: void(0);" class="has-arrow ">
                            <i class="fas fa-address-card"></i>
                            <span>Clientes</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="/Clientes/Clientes"><i class="mdi mdi-checkbox-blank-circle align-middle"></i>Clientes</a></li>
                            <li><a href="ui-EstadoPedidosClientes.html"><i class="mdi mdi-checkbox-blank-circle align-middle"></i>Pedidos de Clientes</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="javascript: void(0);" class="has-arrow ">
                            <i class="fas fa-coins"></i>
                            <span>Cotizaciones</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="/Cotizaciones/Index"><i class="mdi mdi-checkbox-blank-circle align-middle"></i>Ver Cotizaciones</a></li>
                            <li><a href="/Cotizaciones/Create"><i class="mdi mdi-checkbox-blank-circle align-middle"></i>Crear Cotización</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="javascript: void(0);" class="has-arrow ">
                            <i class="fas fa-money-bill"></i>
                            <span>Ventas</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="ReporteVentas.html"><i class="mdi mdi-checkbox-blank-circle align-middle"></i>Datos de Ventas</a></li>
                            <li><a href="VentaIngresos.html"><i class="mdi mdi-checkbox-blank-circle align-middle"></i>Ver Ingresos de Venta</a></li>

                        </ul>
                    </li>



                    <!--Compras-->

                    <li class="menu-title">Compras</li>

                    <li>
                        <a href="javascript: void(0);" class="has-arrow ">
                            <i class="fas fa-shipping-fast"></i>
                            <span>Pedidos</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="ui-EstadoPedidos.html"><i class="mdi mdi-checkbox-blank-circle align-middle"></i>Estado de Pedidos</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);" class="has-arrow ">
                            <i class="fas fa-shopping-cart"></i>
                            <span>Compras</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="ui-ComprasRealizadas.html"><i class="mdi mdi-checkbox-blank-circle align-middle"></i>Compras Realizadas</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);" class="has-arrow ">
                            <i class="fas fa-folder-open"></i>
                            <span>Reportes</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="ui-ReporteCompras.html"><i class="mdi mdi-checkbox-blank-circle align-middle"></i>Reportes Empresa</a></li>
                            <li><a href="ui-ReporteComprasMensual.html"><i class="mdi mdi-checkbox-blank-circle align-middle"></i>Reportes Proveedores</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);" class="has-arrow ">
                            <i class="fas fa-folder-open"></i>
                            <span>Proveedores</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="/Proveedores/AgregarProveedor"><i class="mdi mdi-checkbox-blank-circle align-middle"></i>Agregar Proveedor</a></li>
                            <li><a href="/Proveedores/Proveedores"><i class="mdi mdi-checkbox-blank-circle align-middle"></i>Lista de Proveedores</a></li>
                        </ul>
                    </li>

                    <!--Otras Páginas-->
                    <li class="menu-title">Páginas</li>

                    <li>
                        <a href="javascript: void(0);" class="has-arrow ">
                            <i class="fa fa-unlock-alt"></i>
                            <span>Autenticación</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="/Login/IniciarSesion"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Iniciar Sesión</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript: void(0);" class="has-arrow ">
                            <i class="fa fa-unlink"></i>
                            <span>Errores</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="pages-404.html"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Error 404</a></li>
                            <li><a href="pages-500.html"><i class="mdi mdi-checkbox-blank-circle align-middle"></i> Error 500</a></li>
                        </ul>
                    </li>

                    <!--Otras Opciones-->
                    <li class="menu-title">Otras Opciones</li>

                    <li>
                        <a href="javascript: void(0);" class="has-arrow ">
                            <i class="fa fa-check"></i>
                            <span>Administrar</span>
                        </a>
                        <ul class="sub-menu" aria-expanded="false">
                            <li><a href="/Usuarios/Index"><i class="mdi mdi-checkbox-blank-circle align-middle"></i>Usuarios</a></li>
                            <li>
                                <a href="javascript: void(0);" class="has-arrow ">
                                    <i class="fa fa-check"></i>
                                    <span>Administrar Inventarios</span>
                                </a>
                                <ul class="sub-menu" aria-expanded="false">
                                    <li><a href="/TipoGranoes/Index"><i class="mdi mdi-checkbox-blank-circle align-middle"></i>Tipo Grano</a></li>
                                    <li><a href="/TipoPresentacions/Index"><i class="mdi mdi-checkbox-blank-circle align-middle"></i>Tipo Presentacion</a></li>
                                    <li><a href="/CategoriaProductoes/Index"><i class="mdi mdi-checkbox-blank-circle align-middle"></i>Categoria Productos</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- Sidebar -->
        </div>
    </div>
    <!-- Left Sidebar End -->
    <!-- ============================================================== -->

    <div class="main-content">

        <!-- ===MAIN CONTENT DE LAS OTRAS PAGINAS==== -->
        @RenderBody()

    </div>

    <footer class="footer">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-6">              
                   <p><script>document.write(new Date().getFullYear())</script>.</p> 
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end d-none d-sm-block">
                        <p>Sistema de Contabilidad - Altos del Abejonal</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="custom-setting bg-primary pe-0 d-flex flex-column rounded-start">
        <button type="button" class="btn btn-wide border-0 text-white fs-20 avatar-sm rounded-end-0"
                id="light-dark-mode">
            <i class="mdi mdi-brightness-7 align-middle"></i>
            <i class="mdi mdi-white-balance-sunny align-middle"></i>
        </button>
        <button type="button" class="btn btn-wide border-0 text-white fs-20 avatar-sm"
                data-toggle="fullscreen">
            <i class="mdi mdi-arrow-expand-all align-middle"></i>
        </button>
    </div>


    <!-- Rightbar Sidebar -->
    <div class="offcanvas offcanvas-end" id="offcanvas-rightsidabar">
        <div class="card h-100 rounded-0" data-simplebar="init">
            <div class="card-header bg-light">
                <h6 class="card-title text-uppercase">Actividades</h6>
                <div class="card-addon">
                    <button class="btn btn-label-danger" data-bs-dismiss="offcanvas">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="">
                    <h3 class="card-title">Resumen de la empresa</h3>
                    <div class="border rounded p-2">
                        <p class="text-muted mb-2">Cambios en Reportes</p>
                        <h4 class="fs-16 mb-2">489</h4>
                        <div class="progress progress-sm" style="height:4px;">
                            <div class="progress-bar bg-success" style="width: 49.4%"></div>
                        </div>
                        <p class="text-muted mb-0 mt-1">49.4% <span>Avg</span></p>
                    </div>
                    <div class="border rounded p-2">
                        <p class="text-muted mb-2">Ventas</p>
                        <h4 class="fs-16 mb-2">3,450</h4>
                        <div class="progress progress-sm" style="height:4px;">
                            <div class="progress-bar bg-danger" style="width: 34.6%"></div>
                        </div>
                        <p class="text-muted mb-0 mt-1">34.6% <span>Avg</span></p>
                    </div>
                    <div class="border rounded p-2">
                        <p class="text-muted mb-2">Ganancia del día</p>
                        <h4 class="fs-16 mb-2">₡18,390</h4>
                        <div class="progress progress-sm" style="height:4px;">
                            <div class="progress-bar bg-warning" style="width: 20%"></div>
                        </div>
                        <p class="text-muted mb-0 mt-1">₡37,578 <span>Avg</span></p>
                    </div>
                    <div class="border rounded p-2">
                        <p class="text-muted mb-2">Expectativa de ganancias</p>
                        <h4 class="fs-16 mb-2">₡23,461</h4>
                        <div class="progress progress-sm" style="height:4px;">
                            <div class="progress-bar bg-info" style="width: 60%"></div>
                        </div>
                        <p class="text-muted mb-0 mt-1">₡23,461 <span>Avg</span></p>
                    </div>
                </div>

                <div class="mt-4">
                    <h3 class="card-title">Último Registro</h3>
                    <div class="timeline">
                        <div class="timeline-item">
                            <div class="timeline-pin"><i class="marker marker-dot text-primary"></i></div>
                            <div class="timeline-content">
                                <div class="d-flex justify-content-between">
                                    <p class="mb-0">Ingresos en el inventario</p>
                                    <span class="text-muted">1 mins</span>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="timeline-pin"><i class="marker marker-dot text-success"></i></div>
                            <div class="timeline-content">
                                <div class="d-flex justify-content-between">
                                    <p class="mb-0">Revisar Inventario <span class="badge badge-label-success">pendiente</span></p>
                                    <span class="text-muted">2 mins</span>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="timeline-pin"><i class="marker marker-dot text-primary"></i></div>
                            <div class="timeline-content">
                                <div class="d-flex justify-content-between">
                                    <p class="mb-0">Cambio en el reporte ID:#</p>
                                    <span class="text-muted">3 mins</span>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="timeline-pin"><i class="marker marker-dot text-danger"></i></div>
                            <div class="timeline-content">
                                <div class="d-flex justify-content-between">
                                    <p class="mb-0">Actualización del sistema<span class="badge badge-label-danger">urgente</span></p>
                                    <span class="text-muted">10 mins</span>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="timeline-pin"><i class="marker marker-dot text-warning"></i></div>
                            <div class="timeline-content">
                                <div class="d-flex justify-content-between">
                                    <p class="mb-0">Nuevo Reporte Financiero</p>
                                    <span class="text-muted">1 hrs</span>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-item">
                            <div class="timeline-pin"><i class="marker marker-dot text-info"></i></div>
                            <div class="timeline-content">
                                <div class="d-flex justify-content-between">
                                    <p class="mb-0">Error en el sistema <a href="#">check</a></p>
                                    <span class="text-muted">2 hrs</span>
                                </div>
                            </div>
                        </div>

                        <div class="mt-4">
                            <h3 class="card-title">Próximas Actividades</h3>
                            <div class="timeline timeline-timed">
                                <div class="timeline-item">
                                    <span class="timeline-time">10:00</span>
                                    <div class="timeline-pin"><i class="marker marker-circle text-primary"></i></div>
                                    <div class="timeline-content">
                                        <div>
                                            <span>Reunión de Equipo</span>
                                            <div class="avatar-group ms-2">
                                                <div class="avatar avatar-circle">
                                                    <img src="~/assets/images/users/avatar-1.png" alt="Avatar image" class="avatar-2xs" />
                                                </div>
                                                <div class="avatar avatar-circle">
                                                    <img src="~/assets/images/users/avatar-2.png" alt="Avatar image" class="avatar-2xs" />
                                                </div>
                                                <div class="avatar avatar-circle">
                                                    <img src="~/assets/images/users/avatar-3.png" alt="Avatar image" class="avatar-2xs" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="timeline-item">
                                    <span class="timeline-time">12:45</span>
                                    <div class="timeline-pin"><i class="marker marker-circle text-warning"></i></div>
                                    <div class="timeline-content">
                                        <p class="mb-0">Exportación de Productos</p>
                                    </div>
                                </div>
                                <div class="timeline-item">
                                    <span class="timeline-time">14:00</span>
                                    <div class="timeline-pin"><i class="marker marker-circle text-danger"></i></div>
                                    <div class="timeline-content">
                                        <p class="mb-0">Actualizar Inventario <a href="GestionProductos.html">Inventario</a></p>
                                    </div>
                                </div>
                                <div class="timeline-item">
                                    <span class="timeline-time">15:20</span>
                                    <div class="timeline-pin"><i class="marker marker-circle text-success"></i></div>
                                    <div class="timeline-content">
                                        <p class="mb-0">Pago de Salarios</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end card-->
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>
