@model SistemaContabilidadAltosDelAbejonal.Models.Produccion
@{
    ViewBag.Title = "Edit";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Información de Producción Altos</h4>
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Producción Altos</a></li>
                            <li class="breadcrumb-item active">Editar Producción</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Datos de Producción</h3>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Edit", "Produccion", FormMethod.Post, new { @class = "custom-validation" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.ID)

                        <div class="mb-3">
                            @Html.LabelFor(model => model.Dia, "Día", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="form-floating">
                                @Html.EditorFor(model => model.Dia, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Dia, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(model => model.Fecha, "Fecha de Ingreso", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="form-floating">
                                @Html.TextBoxFor(m => m.Fecha, "{0:yyyy-MM-dd}", new { @class = "form-control", placeholder = "Fecha de ingreso", required = "required", type = "date" })
                                @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(model => model.Altura, "Altura", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="form-floating">
                                @Html.EditorFor(model => model.Altura, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Altura, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(model => model.MicroRegion, "Micro Región", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="form-floating">
                                @Html.EditorFor(model => model.MicroRegion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.MicroRegion, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(model => model.Finca, "Finca", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="form-floating">
                                @Html.EditorFor(model => model.Finca, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Finca, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(model => model.Producto, "Producto", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="form-floating">
                                @Html.EditorFor(model => model.Producto, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Producto, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(model => model.Proceso, "Proceso", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="form-floating">
                                @Html.EditorFor(model => model.Proceso, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Proceso, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(model => model.Variedad, "Variedad", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="form-floating">
                                @Html.EditorFor(model => model.Variedad, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Variedad, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(model => model.CJ, "CJ", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="form-floating">
                                @Html.EditorFor(model => model.CJ, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CJ, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(model => model.Flote, "Flote", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="form-floating">
                                @Html.EditorFor(model => model.Flote, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Flote, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(model => model.Neto, "Neto", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="form-floating">
                                @Html.EditorFor(model => model.Neto, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Neto, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(model => model.FF, "FF", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="form-floating">
                                @Html.EditorFor(model => model.FF, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FF, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(model => model.LoteAltos, "Lote Altos", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="form-floating">
                                @Html.EditorFor(model => model.LoteAltos, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LoteAltos, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(model => model.LoteExclusive, "Lote Exclusive", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="form-floating">
                                @Html.EditorFor(model => model.LoteExclusive, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.LoteExclusive, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(model => model.Humedad, "Humedad", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="form-floating">
                                @Html.EditorFor(model => model.Humedad, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Humedad, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="mb-3">
                            @Html.LabelFor(model => model.Calificacion, "Calificación", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="form-floating">
                                @Html.EditorFor(model => model.Calificacion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Calificacion, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                            <a href="@Url.Action("Produccion")" class="btn btn-secondary">Regresar</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
