@model SistemaContabilidadAltosDelAbejonal.Models.Proveedor

@{
    ViewBag.Title = "Agregar Proveedor";
}

<div class="page-content">
    <div class="container-fluid">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">Información de Proveedor</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Gestión de Proveedores</a></li>
                                <li class="breadcrumb-item active">Agregar Proveedor</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Datos del Proveedor</h3>
                    </div>
                    <div class="card-body">
                        <form class="custom-validation" action="#">
                            <div class="mb-3">
                                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="form-floating">
                                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="mb-3">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="form-floating">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="mb-3">
                                @Html.LabelFor(model => model.Telefono, "Teléfono", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="form-floating">
                                    @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="mb-3">
                                @Html.LabelFor(model => model.Direccion, "Dirección", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="form-floating">
                                    @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="mb-3">
                                @Html.LabelFor(model => model.FechaIngreso, "Fecha de Ingreso", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="form-floating">
                                    @Html.EditorFor(model => model.FechaIngreso, new { htmlAttributes = new { @class = "form-control", @type = "datetime-local" } })
                                    @Html.ValidationMessageFor(model => model.FechaIngreso, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="mb-3">
                                @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div>
                                    @Html.DropDownListFor(model => model.Estado,
                                        new List<SelectListItem>
                                        {
                                            new SelectListItem { Text = "Activo", Value = "Activo" },
                                            new SelectListItem { Text = "Inactivo", Value = "Inactivo" }
                                        },
                                        new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-12">
                                <input type="submit" value="Agregar Proveedor" class="btn btn-primary" />
                                <button type="button" class="btn btn-primary" style="color: white;">
                                    @Html.ActionLink("Regresar", "Proveedores", null, new { @style = "color: white; text-decoration: none;" })
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end card -->
            </div> <!-- end col -->
        }
    </div>
    <!-- end row -->
</div> <!-- container-fluid -->
<!-- End Page-content -->
