@model SistemaContabilidadAltosDelAbejonal.Models.Usuario

@{
    ViewBag.Title = "Create";
}

<!-- Start right Content here -->
<!-- ============================================================== -->
    <div class="page-content">
        <div class="container-fluid">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Nuevo Usuario</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Administrador</a></li>
                                    <li class="breadcrumb-item active">Ingresar Nuevo Usuario</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Datos del usuario</h3>
                        </div>
                        <div class="card-body">
                            <form class="custom-validation" action="#">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="mb-3">
                                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="form-floating">
                                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="mb-3">
                                    @Html.LabelFor(model => model.PrimerApellido, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="form-floating">
                                        @Html.EditorFor(model => model.PrimerApellido, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.PrimerApellido, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="mb-3">
                                    @Html.LabelFor(model => model.SegundoApellido, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="form-floating">
                                        @Html.EditorFor(model => model.SegundoApellido, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.SegundoApellido, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="mb-3">
                                    @Html.LabelFor(model => model.Contraseña, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="form-floating">
                                        @Html.EditorFor(model => model.Contraseña, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Contraseña, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="mb-3">
                                    @Html.LabelFor(model => model.Correo, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="form-floating">
                                        @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="mb-3">
                                    @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="form-floating">
                                        @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="mb-3">
                                    @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="form-floating">
                                        @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="mb-3">
                                    @Html.LabelFor(model => model.IDRol, "Rol", htmlAttributes: new { @class = "control-label col-md-2" })
                                    @Html.DropDownList("IDRol", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.IDRol, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-12">
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                    <button type="button" class="btn btn-primary" style="color: white;">
                                        @Html.ActionLink("Regresar", "Index", null, new { @style = "color: white; text-decoration: none;" })
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


