@model IEnumerable<SistemaContabilidadAltosDelAbejonal.Models.Usuario>

@{
    ViewBag.Title = "Administrar Usuarios";
}

<!-- Start right Content here -->
<div class="page-content">
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Usuarios</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Administrar</a></li>
                            <li class="breadcrumb-item active">Usuarios</li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Sección de Usuarios</h4>
                    </div>
                    <div class="card-body">
                        <!-- Search bar and button -->

                        <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                            <table id="datatable" class="table table-hover table-bordered table-striped dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Nombre Rol</th>
                                        <th>Nombre</th>
                                        <th>Primer Apellido</th>
                                        <th>Segundo Apellido</th>
                                        <th>Correo</th>
                                        <th>Teléfono</th>
                                        <th>Dirección</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var usuario in Model)
                                    {
                                        <tr>
                                            <td>@usuario.Rol.NombreRol</td>
                                            <td>@usuario.Nombre</td>
                                            <td>@usuario.PrimerApellido</td>
                                            <td>@usuario.SegundoApellido</td>
                                            <td>@usuario.Correo</td>
                                            <td>@usuario.Telefono</td>
                                            <td>@usuario.Direccion</td>
                                            <td>
                                                <button class="btn btn-info" style="color: white;">
                                                    @Html.ActionLink("Editar", "Edit", new { id = usuario.IDUsuario }, new { @style = "color: white; text-decoration: none;" })
                                                </button>
                                                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal1-@usuario.IDUsuario">Eliminar</button>
                                            </td>
                                        </tr>

                                        <!-- Modal Para Eliminar-->
                                        <div class="modal fade" id="modal1-@usuario.IDUsuario" tabindex="-1" role="dialog" aria-labelledby="modal1Label-@usuario.IDUsuario" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="modal1Label-@usuario.IDUsuario">Confirmar Eliminación del Usuario:</h5>
                                                        <button type="button" class="btn btn-sm btn-label-danger btn-icon" data-bs-dismiss="modal" aria-label="Close">
                                                            <i class="mdi mdi-close"></i>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p class="text-muted mb-0">Nombre: @Html.DisplayFor(modelItem => usuario.Nombre)</p>
                                                        <p class="text-muted mb-0">Apellido: @Html.DisplayFor(modelItem => usuario.PrimerApellido)</p>
                                                        <p class="text-muted mb-0">Rol: @Html.DisplayFor(modelItem => usuario.Rol.NombreRol)</p>
                                                    </div>
                                                    @using (Html.BeginForm("Delete", "Usuarios", new { id = usuario.IDUsuario }, FormMethod.Post))
                                                    {
                                                        @Html.AntiForgeryToken()
                                                        <div class="modal-footer">
                                                            <input type="submit" value="Eliminar" class="btn btn-danger" />
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Regresar</button>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        <!-- end row -->
    </div>
    <!-- container-fluid -->
</div>
<!-- End Page-content -->
</div>