@model SistemaContabilidadAltosDelAbejonal.Models.TipoGrano

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="page-content">
    <div class="container-fluid">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">Nuevo Grano</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Tipos de Grano</a></li>
                                <li class="breadcrumb-item active">Ingresar Nuevo Grano</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Datos del Grano</h3>
                    </div>
                    <div class="card-body">
                        <form class="custom-validation" action="#">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="mb-3">
                                @Html.LabelFor(model => model.NombreGrano, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="form-floating">
                                    @Html.EditorFor(model => model.NombreGrano, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NombreGrano, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-12">
                                <input type="submit" value="Create" class="btn btn-primary" />
                                <button type="button" class="btn btn-primary" style="color: white;">
                                    @Html.ActionLink("Regresar", "Index", null, new { @style = "color: white; text-decoration: none;" })
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
