@model SistemaContabilidadAltosDelAbejonal.Models.LoginViewModel

@{
    Layout = null;
    ViewBag.Title = "Iniciar Sesión";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Altos del Abejonal</title>
    <!-- App favicon -->
    <link rel="shortcut icon" href="~/assets/images/AltosAbejonal.jpeg">
    @Styles.Render("~/Content/css")
</head>

<body>

    @using (Html.BeginForm("IniciarSesion", "Login", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="">
            <div class="bg-overlay"></div>
            <div class="row align-items-center justify-content-center min-vh-100">
                <div class="col-10 col-md-6 col-lg-4 col-xxl-3">
                    <div class="card mb-0">
                        <div class="card-body">
                            <div class="text-center">
                                <a href="#" class="logo-Abejonal">
                                    <img src="~/assets/images/AltosAbejonal.jpeg" alt="" height="50" class="auth-logo logo-dark mx-auto">
                                </a>


                                <h4 class="mt-4">Bienvenido a Altos Del Abejonal !</h4>
                                <p class="text-muted">Ingrese sus datos para iniciar sesión</p>
                            </div>
                            
                            <div class="p-2 mt-5">
                                @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                                <div class="input-group auth-form-group-custom mb-3">
                                    @Html.LabelFor(m => m.Correo, new { @class = "input-group-text bg-primary bg-opacity-10 fs-16" })
                                    @Html.TextBoxFor(m => m.Correo, new { @class = "form-control", placeholder = "Correo electrónico" })

                                </div>
                                @Html.ValidationMessageFor(m => m.Correo, "", new { @class = "text-danger" })


                                <div class="input-group auth-form-group-custom mb-3">
                                    @Html.LabelFor(m => m.Contraseña, new { @class = "input-group-text bg-primary bg-opacity-10 fs-16" })
                                    @Html.PasswordFor(m => m.Contraseña, new { @class = "form-control", placeholder = "Contraseña" })

                                </div>
                                @Html.ValidationMessageFor(m => m.Contraseña, "", new { @class = "text-danger" })

                                <div class="pt-3 text-center">
                                    <button class="btn btn-primary w-xl waves-effect waves-light" type="submit">Iniciar Sesión</button>
                                </div>
                            </div>

                            <div class="mt-5 text-center">
                                <p>
                                    ©
                                    <script>document.write(new Date().getFullYear())</script> Altos Del Abejonal.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @Scripts.Render("~/bundles/js")
</body>
</html>


