@model SistemaContabilidadAltosDelAbejonal.Models.IndexViewModel
@{
    var nombreUsuario = Session["NombreUsuario"] as string;
}
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">

                    @if (!string.IsNullOrEmpty(nombreUsuario))
                    {
                        <div>
                            <h4 class="fs-16 fw-semibold mb-1 mb-md-2">
                                Bienvenido, <span class="text-primary">@nombreUsuario!</span>
                            </h4>
                            <p class="text-muted mb-0">Aquí tienes un resumen del día.</p>
                        </div>
                    }

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Altos del Abejonal</a></li>
                            <li class="breadcrumb-item active">Inicio</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    end row -->

    <div class="row">
        <div class="col-xxl-9">
            <div class="card">
                <div class="card-header">
                    <div class="card-icon">
                        <i class="fas fa-cart-plus fs-14 text-muted"></i>
                    </div>
                    <h4 class="card-title mb-0">Ventas Generales</h4>
                </div>
                <div class="card-body">
                    <!-- Contenedor con dos columnas del mismo tamaño -->
                    <div class="row">
                        <!-- Columna de Última Venta -->
                        <div class="col-sm-6">
                            <div class="d-flex justify-content-between align-items-center shadow-lg p-3 rounded">
                                <div>
                                    <p class="text-primary text-truncate mb-2">Última Venta</p>
                                    <h5 class="text-primary mb-0">₡@Model.UltimaVenta.TotalVenta.ToString("N2")</h5>
                                    <p class="text-primary mt-1">Fecha: @Model.UltimaVenta.FechaVenta.ToString("dd/MM/yyyy")</p>
                                </div>
                                <div class="icon-container bg-primary-light rounded-circle p-2">
                                    <i class="fas fa-shopping-cart text-primary fs-24"></i>
                                </div>
                            </div>
                        </div>

                        <!-- Columna de Total Ventas -->
                        <div class="col-sm-6">
                            <div class="d-flex justify-content-between align-items-center shadow-lg p-3 rounded">
                                <div>
                                    <p class="text-primary text-truncate mb-2">Total Ventas</p>
                                    <h5 class="text-primary mb-0">₡@Model.TotalVentas.ToString("N2")</h5>
                                </div>
                                <div class="icon-container bg-primary-light rounded-circle p-2">
                                    <i class="fas fa-dollar-sign text-primary fs-24"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Gráficos o contenido adicional -->
                    <div id="sales_figures" data-colors='["--bs-info", "--bs-success"]' class="apex-charts mt-4" dir="ltr"></div>
                </div>
            </div>
        </div>
    </div>



    <!-- Stock -->
    <div class="row">
        <div class="col-xxl-9">
            <div class="card">
                <div class="card-header">
                    <div class="card-icon">
                        <i class="fas fa-table fs-14 text-muted"></i>
                    </div>
                    <h4 class="card-title mb-0">Información General</h4>
                </div>
                <div class="card-body">
                    <!-- Contenedor con tres columnas -->
                    <div class="row">
                        <!-- Columna de Stock Total de Productos -->
                        <div class="col-sm-4">
                            <div class="d-flex justify-content-between align-items-center shadow-lg p-3 rounded bg-danger-subtle" style="background: url('~/assets/images/dashboard/dashboard-shape-1.png'); background-repeat: no-repeat; background-position: bottom center;">
                                <div>
                                    <p class="text-danger mb-1">Stock Total de Productos</p>
                                    <h5 class="text-danger mb-0">@Model.MontoTotalStock.ToString("N2")</h5>
                                </div>
                                <div class="avatar avatar-sm avatar-label-danger">
                                    <i class="mdi mdi-buffer mt-1"></i>
                                </div>
                            </div>
                        </div>

                        <!-- Columna de Próximos Pagos -->
                        <div class="col-sm-4">
                            <div class="d-flex justify-content-between align-items-center shadow-lg p-3 rounded bg-success-subtle" style="background: url('~/assets/images/dashboard/dashboard-shape-2.png'); background-repeat: no-repeat; background-position: bottom center;">
                                <div>
                                    <p class="text-success mb-1">Próximos pagos</p>
                                    <h5 class="text-success mb-0">₡@Model.TotalPagosPendientes</h5>
                                </div>
                                <div class="avatar avatar-sm avatar-label-success">
                                    <i class="mdi mdi-cash-usd-outline mt-1"></i>
                                </div>
                            </div>
                        </div>

                        <!-- Columna de Ventas Realizadas -->
                        <div class="col-sm-4">
                            <div class="d-flex justify-content-between align-items-center shadow-lg p-3 rounded bg-info-subtle" style="background: url('~/assets/images/dashboard/dashboard-shape-3.png'); background-repeat: no-repeat; background-position: bottom center;">
                                <div>
                                    <p class="text-info mb-1">Ventas realizadas</p>
                                    <h5 class="text-info mb-0">@Model.TotalVentasRealizadas</h5>
                                </div>
                                <div class="avatar avatar-sm avatar-label-info">
                                    <i class="mdi mdi-webhook mt-1"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Productos por categoría -->
    <div class="row">
        <div class="col-xl-8">
            <div class="card">
                <div class="card-header">
                    <div class="card-icon">
                        <i class="fas fa-cogs fs-14 text-muted"></i>
                    </div>
                    <h4 class="card-title mb-0">Productos disponibles</h4>
                </div>
                <div class="card-body">
                    <div class="row g-3">
                        @foreach (var producto in Model.Productos)
                        {
                            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3">
                                <div class="card shadow-sm border-light">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center mb-2">
                                            <i class="mdi mdi-cup text-primary fs-3 me-2"></i>
                                            <strong>@producto.Nombre</strong>
                                        </div>
                                        <div class="d-flex justify-content-between">
                                            <span class="text-muted fs-14">Stock: @producto.Stock</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pedidos -->
    <div class="row">
        <div class="col-12">
            <div class="card" style="height: 495px; overflow: hidden auto;" data-simplebar="init">
                <div class="row">
                    <div class="col-12">
                        <div class="card" style="height: 495px; overflow: hidden auto;" data-simplebar="init">
                            <div class="card-header">
                                <h3 class="card-title">Pedidos</h3>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive-md">
                                    <table class="table text-nowrap mb-0">
                                        <thead>
                                            <tr>
                                                <th>ID orden</th>
                                                <th>Estado</th>
                                                <th>Fecha de encargo</th>
                                                <th>Fecha de entrega</th>
                                                <th>Entregado</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var pedido in Model.Pedidos)
                                            {
                                                <tr>
                                                    <td class="align-middle">@pedido.IDPedidoProducto</td>
                                                    <td class="align-middle">
                                                        @if (pedido.Estado == "Entregado")
                                                        {
                                                            <i class="marker marker-dot m-0 me-2 text-primary"></i>
                                                        }
                                                        else if (pedido.Estado == "Pendiente")
                                                        {
                                                            <i class="marker marker-dot m-0 me-2 text-danger"></i>
                                                        }
                                                        else if (pedido.Estado == "En proceso")
                                                        {
                                                            <i class="marker marker-dot m-0 me-2 text-success"></i>
                                                        }
                                                        else
                                                        {
                                                            <i class="marker marker-dot m-0 me-2 text-warning"></i>
                                                        }
                                                    </td>


                                                    <td class="align-middle">@pedido.FechaPedido.ToString("dd/MM/yyyy")</td>
                                                    <td class="align-middle">@pedido.FechaEntregaEstimada.ToString("dd/MM/yyyy")</td>
                                                    <td class="align-middle">
                                                        @if (pedido.Estado == "Entregado")
                                                        {
                                                            @:Sí
                                                        }
                                                        else
                                                        {
                                                            @:No
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<!-- Historial de Transacciones -->
<div class="row">
    <!-- Columna de Historial de Transacciones -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header justify-content-between">
                <div class="card-icon text-muted"><i class="fas fa-sort-amount-up fs-14"></i></div>
                <h4 class="card-title">Historial de transacciones</h4>
                <div class="card-addon dropdown">
                    <button class="btn btn-label-primary py-0 btn-sm dropdown-toggle" data-bs-toggle="dropdown">Opciones <i class="mdi mdi-chevron-down fs-17 align-middle ms-1"></i></button>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated">
                        <a class="dropdown-item" href="#">
                            <div class="dropdown-icon"><i class="fa fa-poll"></i></div>
                            <span class="dropdown-content">Reportes</span>
                        </a>
                        <a class="dropdown-item" href="#">
                            <div class="dropdown-icon"><i class="fa fa-chart-pie"></i></div>
                            <span class="dropdown-content">Gráficos</span>
                        </a>
                        <a class="dropdown-item" href="#">
                            <div class="dropdown-icon"><i class="fa fa-chart-line"></i></div>
                            <span class="dropdown-content">Estadísticas</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">
                            <div class="dropdown-icon"><i class="fa fa-cog"></i></div>
                            <span class="dropdown-content">Ajustes</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="border-bottom text-center pb-3">
                    <div class="d-flex align-items-center justify-content-center">
                        <span class="text-primary fs-24 me-2"><i class="fas fa-arrow-circle-right"></i></span>
                        <h4 class="display-5 mb-0">@Model.FacturasEnProceso.Count</h4>
                    </div>
                    <p class="text-muted mb-0">Facturas Pendientes</p>
                </div>

                <div class="py-3">
                    <p class="text-muted fs-5 mb-0">Detalles de las facturas pendientes:</p>
                    <ul class="list-group">
                        @foreach (var factura in Model.FacturasEnProceso)
                        {
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div>
                                    <strong>Factura #:</strong> @factura.IdFacturas <br />
                                    <strong>Tipo:</strong> @factura.TipoFactura <br />
                                    <strong>Fecha Ingreso:</strong> @factura.FechaIngreso.ToString("dd/MM/yyyy")
                                </div>
                                <span class="badge bg-primary rounded-pill">@factura.Total.ToString("C")</span>
                            </li>
                        }
                    </ul>
                </div>

                <div class="d-flex justify-content-between py-3">
                    <p class="text-muted fs-5 mb-0">Total de pagos pendientes:</p>
                    <span class="text-primary fs-5">@Model.TotalPagosPendientes.ToString("C")</span>
                </div>
            </div>

            <div class="hstack gap-4 justify-content-center pb-3">
                <div class="text-center">
                    <div class="d-flex align-items-center justify-content-center">
                        <span class="text-info fs-22 me-2"><i class="fas fa-arrow-circle-up"></i></span>
                        <h4 class="display-6 mb-0">@Model.FacturasEnProceso.Count()</h4>
                    </div>
                    <p class="text-muted mb-0">Facturas en proceso de pagar</p>
                </div>

                <div class="text-center">
                    <div class="d-flex align-items-center justify-content-center">
                        <span class="text-danger fs-22 me-2"><i class="fas fa-arrow-circle-down"></i></span>
                        <h4 class="display-6 mb-0">@Model.FacturasPagadas.Count()</h4>
                    </div>
                    <p class="text-muted mb-0">Facturas pagadas</p>
                </div>
            </div>

            <div>
                @foreach (var factura in Model.FacturasEnProceso)
                {
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <h5 class="fs-6 mb-0"><i class="fas fa-arrow-circle-up text-info me-2"></i>@factura.TipoFactura</h5>
                        <p class="text-muted mb-0">@factura.Total.ToString("C")</p>
                    </div>
                }

                @foreach (var factura in Model.FacturasPagadas)
                {
                    <div class="d-flex align-items-center justify-content-between mb-2">
                        <h5 class="fs-6 mb-0"><i class="fas fa-arrow-circle-down text-danger me-2"></i>@factura.TipoFactura</h5>
                        <p class="text-muted mb-0">@factura.Total.ToString("C")</p>
                    </div>
                }
            </div>
        </div>
    </div>

    <!-- Columna de Empleados -->
    <div class="col-xl-6">
        <div class="card" style="height: 416px; overflow: hidden auto;" data-simplebar="init">
            <div class="card-header card-header-bordered">
                <div class="card-icon text-muted"><i class="fa fa-user-tag fs14"></i></div>
                <h3 class="card-title">Empleados</h3>
            </div>
            <div class="card-body">
                <div class="rich-list rich-list-flush">
                    @foreach (var usuario in Model.Usuarios)
                    {
                        <div class="flex-column align-items-stretch">
                            <div class="rich-list-item">
                                <div class="rich-list-prepend">
                                    <div class="avatar avatar-xs">
                                        <div>
                                            <img src="~/assets/images/users/avatar-1.png" alt="Avatar image" class="avatar-2xs" />
                                        </div>
                                    </div>
                                </div>
                                <div class="rich-list-content">
                                    <h4 class="rich-list-title mb-1">@usuario.Nombre @usuario.PrimerApellido @usuario.SegundoApellido</h4>
                                    <p class="rich-list-subtitle mb-0">@usuario.Rol</p>
                                </div>
                                <div class="rich-list-append">
                                    <button class="btn btn-sm btn-label-primary">Contactar</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Page-content -->