@model SistemaContabilidadAltosDelAbejonal.Models.Comision

@{
    ViewBag.Title = "Agregar Comisión";
}

<div class="page-content">
    <div class="container-fluid">
        @using (Html.BeginForm("Create", "Comisiones", FormMethod.Post, new { @class = "custom-validation" }))
        {
            @Html.AntiForgeryToken()
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0">Información de Comisión</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Gestión de Comisiones</a></li>
                                <li class="breadcrumb-item active">Agregar Comisión</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Datos de la Comisión</h3>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            @Html.LabelFor(model => model.IDVenta, "Venta", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.DropDownListFor(model => model.IDVenta, (SelectList)ViewBag.IDVenta, "-- Seleccione una Venta --", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IDVenta, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-3">
                            @Html.LabelFor(model => model.IDUsuario, "Usuario", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.DropDownListFor(model => model.IDUsuario, (SelectList)ViewBag.IDUsuario, "-- Seleccione un Usuario --", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.IDUsuario, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-3">
                            @Html.LabelFor(model => model.PorcentajeComision, "Porcentaje de Comisión", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.PorcentajeComision, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PorcentajeComision, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-3">
                            @Html.LabelFor(model => model.MontoComision, "Monto de Comisión", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.EditorFor(model => model.MontoComision, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MontoComision, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-12 text-center">
                            <input type="submit" value="Agregar Comisión" class="btn btn-primary" onclick="location.href='@Url.Action("Comisiones", "Comisiones")'"/>
                            <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Home", "Index")'">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div> <!-- end card -->
        }
    </div>
</div>



