@model IEnumerable<SistemaContabilidadAltosDelAbejonal.Models.Cliente>

@{
    ViewBag.Title = "Clientes";
}

@{
    var rolUsuario = Session["RolUsuario"] as string;
}
<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-sm-0">Clientes</h4>

                    <div class="page-title-right">
                        <ol class="breadcrumb m-0">
                            <li class="breadcrumb-item"><a href="javascript: void(0);">Clientes</a></li>
                            <li class="breadcrumb-item active">Gestión de Clientes</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Sección de Clientes</h4>
                    </div>
                    <div class="card-body">

                        <div id="datatable_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
                            <table id="datatable" class="table table-hover table-bordered table-striped dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Primer Apellido</th>
                                        <th>Segundo Apellido</th>
                                        <th>Cédula</th>
                                        <th>Teléfono</th>
                                        <th>Dirección</th>
                                        <th>Acción</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var cliente in Model)
                                    {
                                        <tr>
                                            <td>@cliente.Nombre</td>
                                            <td>@cliente.PrimerApellido</td>
                                            <td>@cliente.SegundoApellido</td>
                                            <td>@cliente.Cedula</td>
                                            <td>@cliente.Telefono</td>
                                            <td>@cliente.Direccion</td>
                                            <td>
                                                <button class="btn btn-info">
                                                    @Html.ActionLink("Editar Cliente", "EditarCliente", new { id = cliente.IDCliente }, new { @style = "color: white; text-decoration: none;" })
                                                </button>
                                                @if (rolUsuario == "Administrador")
                                                {
                                                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal1-@cliente.IDCliente">Eliminar</button>
                                                }
                                            </td>
                                            </tr>
                                            <!-- Modal Para Eliminar-->
                                            <div class="modal fade" id="modal1-@cliente.IDCliente" tabindex="-1" role="dialog" aria-labelledby="modal1Label-@cliente.IDCliente" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="modal1Label-@cliente.IDCliente">Confirmar Eliminación del Cliente</h5>
                                                            <button type="button" class="btn btn-sm btn-label-danger btn-icon" data-bs-dismiss="modal" aria-label="Close">
                                                                <i class="mdi mdi-close"></i>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <h6>Detalles del Cliente</h6>
                                                            <hr>
                                                            <p><strong>Nombre:</strong> @Html.DisplayFor(modelItem => cliente.Nombre)</p>
                                                            <p><strong>Primer Apellido:</strong> @Html.DisplayFor(modelItem => cliente.PrimerApellido)</p>
                                                            <p><strong>Segundo Apellido:</strong> @Html.DisplayFor(modelItem => cliente.SegundoApellido)</p>
                                                            <p><strong>Cédula:</strong> @Html.DisplayFor(modelItem => cliente.Cedula)</p>
                                                            <p><strong>Teléfono:</strong> @Html.DisplayFor(modelItem => cliente.Telefono)</p>
                                                            <p><strong>Dirección:</strong> @Html.DisplayFor(modelItem => cliente.Direccion)</p>
                                                        </div>
                                                        @using (Html.BeginForm("EliminarCliente", "Clientes", new { id = cliente.IDCliente }, FormMethod.Post))
                                                        {
                                                            @Html.AntiForgeryToken()
                                                            <div class="modal-footer">
                                                                <button type="submit" class="btn btn-danger">Eliminar</button>
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Regresar</button>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->
                </div>
                <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
